/*Menu Bar Positioning CSS*/
/*general menu bar settings*/
* {
    -moz-appearance   : none;
    -webkit-appearance: none;
    font-family       : serif;
    list-style-type   : none;
    overflow          : hidden;

}

div {
    margin : 0;
    padding: 0;
}

a {
    color          : #dcdcdc;
    font-family    : arial;
    font-size      : small;
    margin         : auto;
    text-decoration: none;
    transition     : color 0.5s;
}
a:hover {
    color: #8c8c8c;
}
a:visited {
    color: #595959;
}

.menu-bar {
    margin-bottom: 5px;
    margin-top   : 5px;
    min-width    : 590px;
    z-index      : 1;
}

.menu-bar ul {
    margin : 0;
    padding: 0;
}

.menu-bar li {
    display       : inline-block;
    margin-right  : 5px;
    vertical-align: middle;
}

.button,
.item {
    padding: 3px 4px;
}

.button,
.searchq {
    background-color: transparent;
    border          : 1px solid #dcdcdc;
    border-radius   : 6%;
    color           : #a6a6a6;
    margin          : 2px;
    padding         : 6px;
    text-align      : center;
    transition      : color 0.5s, border 0.5s;
}

#top-menu {
    float       : right;
    margin-right: 35px;
}
/*End of Header Bar Section*/

/*Profile Pic in CSS*/
.profile_pic {
    background-color: #A0C3FF;
    border-radius   : 100%;
    height          : 35px;
    position        : absolute;
    top             : 10px;
    transition      : background-color 0.5s;
    width           : 35px;
}

.phead {
    background-color: #4374E0;
    border-radius   : 100%;
    height          : 12px;
    left            : 34%;
    position        : relative;
    top             : 22%;
    width           : 12px;
}

.pbody {
    background-color          : #4374E0;
    border-bottom-left-radius : 100% 8px;
    border-bottom-right-radius: 100% 8px;
    border-top-left-radius    : 70% 10px;
    border-top-right-radius   : 70% 10px;
    height                    : 14.5px;
    left                      : 21%;
    position                  : relative;
    top                       : 26%;
    width                     : 20px;
}
.profile_pic:hover {
    background-color: #C6DBFF;
}
/*End of Profile Pics*/
/* Content and Google heading*/
.container {
    clear   : right;
    margin  : 5em auto auto;
    padding : 10px;
    position: relative;
    width   : 35em;
}

.google {
    display     : inline;
    font-family : serif;
    font-size   : 10em;
    font-weight : 200;
    left        : 0;
    margin-left : auto;
    margin-right: auto;
    padding     : 0.1em;
    position    : relative;
    right       : 0;
}

/*Letter colors*/
.g {
    color: #3369e8;
}
.o {
    color: #d50f25;
}
.o1 {
    color: #eeb211;
}
.g1 {
    color: #3369e8;
}
.l {
    color: #009939;
}
.e {
    color: #d50f25;
}
.google span:hover {
    color     : #ffd700;
    transition: color 1s;
}
/*Search Bar and Buttons*/

.bar {
    border    : 1px solid #dcdcdc;
    height    : 1.5em;
    margin-top: 2em;
    position  : relative;
    transition: border 0.5s;
    width     : 40em;
}
.bar:hover {
    border: 1px solid #8c8c8c;
}

.searchq {
    border     : 1px solid transparent;
    display    : inline-block;
    font       : bold 13px/27px Arial,sans-serif;
    margin-left: 7em;
    margin-top : 1em;
}
.searchq:hover,
.button:hover {
    border: 1px solid #808080;
    color : #342424;
}
/*End of Searchbar Settings*/
/*End of Content Section*/
/*Footer Bar Section*/
#fbar {
    background : #f2f2f2;
    border-top : 1px solid #e4e4e4;
    bottom     : 0;
    line-height: 5px;
    position   : fixed;
    transition : background-color 0.5s, line-height 0.5s;
    width      : 98%;
}
#fbar:hover {
    background: #808080;
    line-height: 20px;
}
#fbar .left {
    float       : left;
    padding-left: 35px;
}

#fbar .right {
    float        : right;
    padding-right: 35px;
}
#fbar a:hover {
    color          : #a6a6a6;
    text-decoration: underline;
}
/*End of Footer Bar*/
